# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import yfinance as yf
import pandas as pd
import math
from scipy.stats import percentileofscore as score
from statistics import mean
from IPython.display import clear_output

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis. But, here we have just taken a list of ~500 stocks in a CSV file taken at the time of building the project.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv('sp500.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
498    YUM
499    ZBH
500   ZBRA
501   ZION
502    ZTS

[503 rows x 1 columns]

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame.

In [3]:
my_columns = ['Ticker', 'Stock Price', '1 Year Return', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, 1 Year Return, Number of Shares to Buy]
Index: []

## Looping Through The Tickers in Our List of Stocks

Here to fetch the stock data, we have used `yfinance` API

We can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [4]:
for stock in stocks['Ticker']:
    data = yf.Ticker(stock).info
    try:
        yr1Return = data['52WeekChange']
    except:
        yr1Return = np.NaN
    stock_dict = {
        'Ticker': [stock],
        'Stock Price': [data['currentPrice']],
        '1 Year Return': [yr1Return],
        'Number of Shares to Buy': ['N/A']
    }
    df = pd.DataFrame(stock_dict)
    final_dataframe = pd.concat([final_dataframe, df], ignore_index=True)

    clear_output(wait=True)
    print(final_dataframe)

    Ticker  Stock Price  1 Year Return Number of Shares to Buy
0        A       126.30      -0.046936                     N/A
1      AAL        15.84       0.054594                     N/A
2      AAP        71.01      -0.634515                     N/A
3     AAPL       181.99       0.103839                     N/A
4     ABBV       147.73       0.052658                     N/A
..     ...          ...            ...                     ...
498    YUM       134.35            NaN                     N/A
499    ZBH       126.32            NaN                     N/A
500   ZBRA       251.41            NaN                     N/A
501   ZION        37.92            NaN                     N/A
502    ZTS       178.63            NaN                     N/A

[503 rows x 4 columns]

In [5]:
final_dataframe

    Ticker  Stock Price  1 Year Return Number of Shares to Buy
0        A       126.30      -0.046936                     N/A
1      AAL        15.84       0.054594                     N/A
2      AAP        71.01      -0.634515                     N/A
3     AAPL       181.99       0.103839                     N/A
4     ABBV       147.73       0.052658                     N/A
..     ...          ...            ...                     ...
498    YUM       134.35            NaN                     N/A
499    ZBH       126.32            NaN                     N/A
500   ZBRA       251.41            NaN                     N/A
501   ZION        37.92            NaN                     N/A
502    ZTS       178.63            NaN                     N/A

[503 rows x 4 columns]

In [6]:
final_dataframe[final_dataframe.isnull().any(axis=1)]

    Ticker  Stock Price  1 Year Return Number of Shares to Buy
80     CAT       276.44            NaN                     N/A
353   ORCL       114.44            NaN                     N/A
354   ORLY       925.93            NaN                     N/A
355   OTIS        88.51            NaN                     N/A
356    OXY        63.52            NaN                     N/A
..     ...          ...            ...                     ...
498    YUM       134.35            NaN                     N/A
499    ZBH       126.32            NaN                     N/A
500   ZBRA       251.41            NaN                     N/A
501   ZION        37.92            NaN                     N/A
502    ZTS       178.63            NaN                     N/A

[151 rows x 4 columns]

Filling the `NULL` cells of the `1 Year Return` column with mean value

In [7]:
final_dataframe['1 Year Return'].fillna(final_dataframe['1 Year Return'].mean(), inplace=True)

In [8]:
final_dataframe[final_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Stock Price, 1 Year Return, Number of Shares to Buy]
Index: []

In [9]:
final_dataframe

    Ticker  Stock Price  1 Year Return Number of Shares to Buy
0        A       126.30      -0.046936                     N/A
1      AAL        15.84       0.054594                     N/A
2      AAP        71.01      -0.634515                     N/A
3     AAPL       181.99       0.103839                     N/A
4     ABBV       147.73       0.052658                     N/A
..     ...          ...            ...                     ...
498    YUM       134.35       0.050348                     N/A
499    ZBH       126.32       0.050348                     N/A
500   ZBRA       251.41       0.050348                     N/A
501   ZION        37.92       0.050348                     N/A
502    ZTS       178.63       0.050348                     N/A

[503 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [10]:
final_dataframe.sort_values('1 Year Return', ascending=False, inplace=True)

In [11]:
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(drop=True, inplace=True)

In [12]:
final_dataframe

   Ticker  Stock Price  1 Year Return Number of Shares to Buy
0    NVDA       446.80       1.511100                     N/A
1      GE       113.06       0.926441                     N/A
2    NFLX       431.60       0.848473                     N/A
3    META       310.73       0.825140                     N/A
4    FSLR       194.38       0.821061                     N/A
5    ACGL        76.72       0.737712                     N/A
6    FICO       841.02       0.716928                     N/A
7     CCL        17.16       0.714286                     N/A
8     DHI       125.71       0.627103                     N/A
9    AVGO       881.65       0.616135                     N/A
10   BKNG      3063.16       0.566193                     N/A
11    LVS        57.94       0.557946                     N/A
12   AXON       180.86       0.556053                     N/A
13    MPC       137.95       0.526164                     N/A
14     ON       102.31       0.519305                     N/A
15    LLY       449.49       0.485917                     N/A
16    CAH        91.25       0.483981                     N/A
17    HES       152.94       0.470718                     N/A
18    BKR        35.52       0.463535                     N/A
19    ETN       215.90       0.459474                     N/A
20    LEN       125.57       0.448829                     N/A
21    NVR      6320.97       0.445123                     N/A
22   ANET       179.60       0.440141                     N/A
23    HAL        39.55       0.412500                     N/A
24     BA       231.36       0.394659                     N/A
25    FCX        42.51       0.388308                     N/A
26     EG       355.30       0.378200                     N/A
27    CEG       103.94       0.369614                     N/A
28   CPRT        88.35       0.369449                     N/A
29    JPM       156.02       0.364408                     N/A
30   CARR        57.08       0.360992                     N/A
31   LRCX       690.46       0.355065                     N/A
32   AMAT       145.66       0.350830                     N/A
33     IR        66.91       0.338200                     N/A
34   NCLH        17.95       0.326682                     N/A
35   ODFL       407.11       0.326480                     N/A
36    DAL        44.59       0.321185                     N/A
37    ABC       185.33       0.317949                     N/A
38   DXCM       120.33       0.316521                     N/A
39    HWM        49.05       0.305911                     N/A
40    MGM        44.99       0.304058                     N/A
41    APA        41.87       0.299907                     N/A
42     DD        77.03       0.298331                     N/A
43    DRI       162.45       0.296075                     N/A
44   ISRG       309.31       0.293481                     N/A
45    MLM       455.85       0.290555                     N/A
46    AFL        76.85       0.289862                     N/A
47    MAR       202.98       0.282492                     N/A
48   KLAC       496.47       0.280618                     N/A
49   GILD        78.68       0.277273                     N/A

## Calculating the Number of Shares to Buy

As we can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

In [13]:
# portfolio_size = float(input("Enter your portfolio value: "))
portfolio_size = 10000000
portfolio_size

10000000

In [14]:
position_size = float(portfolio_size) / len(final_dataframe.index)
position_size

200000.0

In [15]:
for i in range(len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(
        position_size / final_dataframe.loc[i, 'Stock Price'])

final_dataframe

   Ticker  Stock Price  1 Year Return Number of Shares to Buy
0    NVDA       446.80       1.511100                     447
1      GE       113.06       0.926441                    1768
2    NFLX       431.60       0.848473                     463
3    META       310.73       0.825140                     643
4    FSLR       194.38       0.821061                    1028
5    ACGL        76.72       0.737712                    2606
6    FICO       841.02       0.716928                     237
7     CCL        17.16       0.714286                   11655
8     DHI       125.71       0.627103                    1590
9    AVGO       881.65       0.616135                     226
10   BKNG      3063.16       0.566193                      65
11    LVS        57.94       0.557946                    3451
12   AXON       180.86       0.556053                    1105
13    MPC       137.95       0.526164                    1449
14     ON       102.31       0.519305                    1954
15    LLY       449.49       0.485917                     444
16    CAH        91.25       0.483981                    2191
17    HES       152.94       0.470718                    1307
18    BKR        35.52       0.463535                    5630
19    ETN       215.90       0.459474                     926
20    LEN       125.57       0.448829                    1592
21    NVR      6320.97       0.445123                      31
22   ANET       179.60       0.440141                    1113
23    HAL        39.55       0.412500                    5056
24     BA       231.36       0.394659                     864
25    FCX        42.51       0.388308                    4704
26     EG       355.30       0.378200                     562
27    CEG       103.94       0.369614                    1924
28   CPRT        88.35       0.369449                    2263
29    JPM       156.02       0.364408                    1281
30   CARR        57.08       0.360992                    3503
31   LRCX       690.46       0.355065                     289
32   AMAT       145.66       0.350830                    1373
33     IR        66.91       0.338200                    2989
34   NCLH        17.95       0.326682                   11142
35   ODFL       407.11       0.326480                     491
36    DAL        44.59       0.321185                    4485
37    ABC       185.33       0.317949                    1079
38   DXCM       120.33       0.316521                    1662
39    HWM        49.05       0.305911                    4077
40    MGM        44.99       0.304058                    4445
41    APA        41.87       0.299907                    4776
42     DD        77.03       0.298331                    2596
43    DRI       162.45       0.296075                    1231
44   ISRG       309.31       0.293481                     646
45    MLM       455.85       0.290555                     438
46    AFL        76.85       0.289862                    2602
47    MAR       202.98       0.282492                     985
48   KLAC       496.47       0.280618                     402
49   GILD        78.68       0.277273                    2541

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is that low-quality momentum can often be caused by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Here `hqm` stands for `high-quality momentum`.

In [16]:
hqm_columns = [
    'Ticker',
    'Stock Price',
    'Number of Shares to Buy',
    '1 Year Return',
    '1 Year Return Percentile',
    '6 Months Return',
    '6 Months Return Percentile',
    '3 Months Return',
    '3 Months Return Percentile',
    '1 Month Return',
    '1 Month Return Percentile',
    'HQM Score'
]

hqm_dataframe = pd.DataFrame(columns=hqm_columns)
hqm_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Number of Shares to Buy, 1 Year Return, 1 Year Return Percentile, 6 Months Return, 6 Months Return Percentile, 3 Months Return, 3 Months Return Percentile, 1 Month Return, 1 Month Return Percentile, HQM Score]
Index: []

In [17]:
for stock in stocks['Ticker']:
    data = yf.Ticker(stock).info
    try:
        yr1Return = data['52WeekChange']
    except:
        yr1Return = np.NaN
    try:
        hist = yf.Ticker(stock).history(period='6mo')
        mnth6Return = ((hist['Close'][-1] - hist['Close'][0]) / hist['Close'][0]) * 100
    except:
        mnth6Return = np.NaN
    try:
        hist = yf.Ticker(stock).history(period='3mo')
        mnth3Return = ((hist['Close'][-1] - hist['Close'][0]) / hist['Close'][0]) * 100
    except:
        mnth3Return = np.NaN
    try:
        hist = yf.Ticker(stock).history(period='1mo')
        mnth1Return = ((hist['Close'][-1] - hist['Close'][0]) / hist['Close'][0]) * 100
    except:
        mnth1Return = np.NaN
    
    stock_dict = {
        'Ticker': [stock],
        'Stock Price': [data['currentPrice']],
        'Number of Shares to Buy': ['N/A'],
        '1 Year Return': [yr1Return],
        '1 Year Return Percentile': ['N/A'],
        '6 Months Return': [mnth6Return],
        '6 Months Return Percentile': ['N/A'],
        '3 Months Return': [mnth3Return],
        '3 Months Return Percentile': ['N/A'],
        '1 Month Return': [mnth1Return],
        '1 Month Return Percentile': ['N/A'],
        'HQM Score': ['N/A']
    }
    df = pd.DataFrame(stock_dict)
    hqm_dataframe = pd.concat([hqm_dataframe, df], ignore_index=True)

    clear_output(wait=True)
    print(hqm_dataframe['Ticker'])

0         A
1       AAL
2       AAP
3      AAPL
4      ABBV
       ...
498     YUM
499     ZBH
500    ZBRA
501    ZION
502     ZTS
Name: Ticker, Length: 503, dtype: object

In [18]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,N/A,NaN,N/A,-17.038887,N/A,-4.643257,N/A,6.645278,N/A,N/A
1,AAL,15.84,N/A,NaN,N/A,-6.382978,N/A,10.306410,N/A,-11.409391,N/A,N/A
2,AAP,71.01,N/A,NaN,N/A,-53.181247,N/A,-43.530813,N/A,1.500862,N/A,N/A
3,AAPL,181.99,N/A,NaN,N/A,19.943327,N/A,4.893375,N/A,-5.119646,N/A,N/A
4,ABBV,147.73,N/A,NaN,N/A,1.868702,N/A,0.189894,N/A,7.635698,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,134.35,N/A,NaN,N/A,4.098875,N/A,-1.596713,N/A,0.336081,N/A,N/A
499,ZBH,126.32,N/A,NaN,N/A,-1.711799,N/A,-8.090805,N/A,-10.538242,N/A,N/A
500,ZBRA,251.41,N/A,NaN,N/A,-22.571606,N/A,-9.519176,N/A,-13.646359,N/A,N/A
501,ZION,37.92,N/A,NaN,N/A,-29.907580,N/A,56.306669,N/A,36.501070,N/A,N/A
502,ZTS,178.63,N/A,NaN,N/A,8.306562,N/A,-3.375340,N/A,6.030749,N/A,N/A

In [19]:
hqm_dataframe[hqm_dataframe.isnull().any(axis=1)]

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,N/A,NaN,N/A,-17.038887,N/A,-4.643257,N/A,6.645278,N/A,N/A
1,AAL,15.84,N/A,NaN,N/A,-6.382978,N/A,10.306410,N/A,-11.409391,N/A,N/A
2,AAP,71.01,N/A,NaN,N/A,-53.181247,N/A,-43.530813,N/A,1.500862,N/A,N/A
3,AAPL,181.99,N/A,NaN,N/A,19.943327,N/A,4.893375,N/A,-5.119646,N/A,N/A
4,ABBV,147.73,N/A,NaN,N/A,1.868702,N/A,0.189894,N/A,7.635698,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,134.35,N/A,NaN,N/A,4.098875,N/A,-1.596713,N/A,0.336081,N/A,N/A
499,ZBH,126.32,N/A,NaN,N/A,-1.711799,N/A,-8.090805,N/A,-10.538242,N/A,N/A
500,ZBRA,251.41,N/A,NaN,N/A,-22.571606,N/A,-9.519176,N/A,-13.646359,N/A,N/A
501,ZION,37.92,N/A,NaN,N/A,-29.907580,N/A,56.306669,N/A,36.501070,N/A,N/A
502,ZTS,178.63,N/A,NaN,N/A,8.306562,N/A,-3.375340,N/A,6.030749,N/A,N/A

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data which we have to fill with `mean` values.

In [20]:
hqm_dataframe['1 Year Return'].fillna(hqm_dataframe['1 Year Return'].mean(), inplace=True)

In [21]:
hqm_dataframe[hqm_dataframe.isnull().any(axis=1)]

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,N/A,NaN,N/A,-17.038887,N/A,-4.643257,N/A,6.645278,N/A,N/A
1,AAL,15.84,N/A,NaN,N/A,-6.382978,N/A,10.306410,N/A,-11.409391,N/A,N/A
2,AAP,71.01,N/A,NaN,N/A,-53.181247,N/A,-43.530813,N/A,1.500862,N/A,N/A
3,AAPL,181.99,N/A,NaN,N/A,19.943327,N/A,4.893375,N/A,-5.119646,N/A,N/A
4,ABBV,147.73,N/A,NaN,N/A,1.868702,N/A,0.189894,N/A,7.635698,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,134.35,N/A,NaN,N/A,4.098875,N/A,-1.596713,N/A,0.336081,N/A,N/A
499,ZBH,126.32,N/A,NaN,N/A,-1.711799,N/A,-8.090805,N/A,-10.538242,N/A,N/A
500,ZBRA,251.41,N/A,NaN,N/A,-22.571606,N/A,-9.519176,N/A,-13.646359,N/A,N/A
501,ZION,37.92,N/A,NaN,N/A,-29.907580,N/A,56.306669,N/A,36.501070,N/A,N/A
502,ZTS,178.63,N/A,NaN,N/A,8.306562,N/A,-3.375340,N/A,6.030749,N/A,N/A

In [22]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,N/A,NaN,N/A,-17.038887,N/A,-4.643257,N/A,6.645278,N/A,N/A
1,AAL,15.84,N/A,NaN,N/A,-6.382978,N/A,10.306410,N/A,-11.409391,N/A,N/A
2,AAP,71.01,N/A,NaN,N/A,-53.181247,N/A,-43.530813,N/A,1.500862,N/A,N/A
3,AAPL,181.99,N/A,NaN,N/A,19.943327,N/A,4.893375,N/A,-5.119646,N/A,N/A
4,ABBV,147.73,N/A,NaN,N/A,1.868702,N/A,0.189894,N/A,7.635698,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,134.35,N/A,NaN,N/A,4.098875,N/A,-1.596713,N/A,0.336081,N/A,N/A
499,ZBH,126.32,N/A,NaN,N/A,-1.711799,N/A,-8.090805,N/A,-10.538242,N/A,N/A
500,ZBRA,251.41,N/A,NaN,N/A,-22.571606,N/A,-9.519176,N/A,-13.646359,N/A,N/A
501,ZION,37.92,N/A,NaN,N/A,-29.907580,N/A,56.306669,N/A,36.501070,N/A,N/A
502,ZTS,178.63,N/A,NaN,N/A,8.306562,N/A,-3.375340,N/A,6.030749,N/A,N/A

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

In [23]:
time_periods = [
    '1 Year',
    '6 Months',
    '3 Months',
    '1 Month'
]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Return'
        percentile_col = f'{time_period} Return Percentile'
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = score(hqm_dataframe[change_col],
                                                                           hqm_dataframe.loc[row, change_col]) / 100

In [24]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,N/A,NaN,NaN,-17.038887,0.115308,-4.643257,0.212724,6.645278,0.751491,N/A
1,AAL,15.84,N/A,NaN,NaN,-6.382978,0.318091,10.306410,0.638171,-11.409391,0.049702,N/A
2,AAP,71.01,N/A,NaN,NaN,-53.181247,0.001988,-43.530813,0.001988,1.500862,0.481113,N/A
3,AAPL,181.99,N/A,NaN,NaN,19.943327,0.892644,4.893375,0.473161,-5.119646,0.161034,N/A
4,ABBV,147.73,N/A,NaN,NaN,1.868702,0.552684,0.189894,0.345924,7.635698,0.7833,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,134.35,N/A,NaN,NaN,4.098875,0.610338,-1.596713,0.290258,0.336081,0.425447,N/A
499,ZBH,126.32,N/A,NaN,NaN,-1.711799,0.467197,-8.090805,0.129225,-10.538242,0.057654,N/A
500,ZBRA,251.41,N/A,NaN,NaN,-22.571606,0.069583,-9.519176,0.099404,-13.646359,0.021869,N/A
501,ZION,37.92,N/A,NaN,NaN,-29.907580,0.027833,56.306669,0.998012,36.501070,1.0,N/A
502,ZTS,178.63,N/A,NaN,NaN,8.306562,0.727634,-3.375340,0.252485,6.030749,0.715706,N/A

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [25]:
for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [26]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,N/A,NaN,NaN,-17.038887,0.115308,-4.643257,0.212724,6.645278,0.751491,NaN
1,AAL,15.84,N/A,NaN,NaN,-6.382978,0.318091,10.306410,0.638171,-11.409391,0.049702,NaN
2,AAP,71.01,N/A,NaN,NaN,-53.181247,0.001988,-43.530813,0.001988,1.500862,0.481113,NaN
3,AAPL,181.99,N/A,NaN,NaN,19.943327,0.892644,4.893375,0.473161,-5.119646,0.161034,NaN
4,ABBV,147.73,N/A,NaN,NaN,1.868702,0.552684,0.189894,0.345924,7.635698,0.7833,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,134.35,N/A,NaN,NaN,4.098875,0.610338,-1.596713,0.290258,0.336081,0.425447,NaN
499,ZBH,126.32,N/A,NaN,NaN,-1.711799,0.467197,-8.090805,0.129225,-10.538242,0.057654,NaN
500,ZBRA,251.41,N/A,NaN,NaN,-22.571606,0.069583,-9.519176,0.099404,-13.646359,0.021869,NaN
501,ZION,37.92,N/A,NaN,NaN,-29.907580,0.027833,56.306669,0.998012,36.501070,1.0,NaN
502,ZTS,178.63,N/A,NaN,NaN,8.306562,0.727634,-3.375340,0.252485,6.030749,0.715706,NaN

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [27]:
hqm_dataframe.sort_values('HQM Score', ascending=False, inplace=True)

In [28]:
hqm_dataframe = hqm_dataframe[:50]
hqm_dataframe.reset_index(drop=True, inplace=True)

In [29]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,N/A,NaN,NaN,-17.038887,0.115308,-4.643257,0.212724,6.645278,0.751491,NaN
1,AAL,15.84,N/A,NaN,NaN,-6.382978,0.318091,10.306410,0.638171,-11.409391,0.049702,NaN
2,AAP,71.01,N/A,NaN,NaN,-53.181247,0.001988,-43.530813,0.001988,1.500862,0.481113,NaN
3,AAPL,181.99,N/A,NaN,NaN,19.943327,0.892644,4.893375,0.473161,-5.119646,0.161034,NaN
4,ABBV,147.73,N/A,NaN,NaN,1.868702,0.552684,0.189894,0.345924,7.635698,0.7833,NaN
5,ABC,185.33,N/A,NaN,NaN,19.962454,0.89662,10.177751,0.634195,-3.569385,0.222664,NaN
6,ABT,107.65,N/A,NaN,NaN,-2.799096,0.435388,-2.930568,0.266402,0.419780,0.435388,NaN
7,ACGL,76.72,N/A,NaN,NaN,23.423426,0.918489,0.761757,0.361829,3.858127,0.604374,NaN
8,ACN,312.00,N/A,NaN,NaN,9.673787,0.761431,17.815872,0.831014,1.308569,0.471173,NaN
9,ADBE,526.88,N/A,NaN,NaN,40.415209,0.988072,53.136083,0.994036,9.472459,0.840954,NaN
10,ADI,188.35,N/A,NaN,NaN,6.082795,0.667992,2.075657,0.38171,1.160107,0.461233,NaN
11,ADM,85.55,N/A,NaN,NaN,3.621615,0.596421,13.461540,0.715706,11.046212,0.882704,NaN
12,ADP,245.76,N/A,NaN,NaN,9.974490,0.771372,14.696406,0.755467,10.877510,0.880716,NaN
13,ADSK,201.57,N/A,NaN,NaN,-7.680677,0.284294,4.989844,0.475149,0.258644,0.423459,NaN
14,AEE,81.40,N/A,NaN,NaN,-5.238649,0.363817,-8.682968,0.115308,-2.257441,0.286282,NaN
15,AEP,81.24,N/A,NaN,NaN,-12.172975,0.176938,-11.829826,0.069583,-4.793161,0.16501,NaN
16,AES,19.64,N/A,NaN,NaN,-25.066768,0.055666,-9.534776,0.097416,-6.919436,0.101392,NaN
17,AFL,76.85,N/A,NaN,NaN,10.448400,0.781312,13.616202,0.725646,10.353244,0.866799,NaN
18,AIG,60.69,N/A,NaN,NaN,1.217478,0.538767,12.911625,0.701789,5.364584,0.697813,NaN
19,AIZ,141.78,N/A,NaN,NaN,6.497404,0.67992,7.694649,0.552684,13.724233,0.924453,NaN
20,AJG,220.81,N/A,NaN,NaN,13.497812,0.833002,2.549689,0.397614,2.075624,0.506958,NaN
21,AKAM,92.63,N/A,NaN,NaN,5.874957,0.662028,16.735979,0.799205,3.497204,0.590457,NaN
22,ALB,200.09,N/A,NaN,NaN,-27.715762,0.045726,7.644712,0.54672,-12.075410,0.029821,NaN
23,ALGN,361.44,N/A,NaN,NaN,5.542256,0.646123,18.090631,0.836978,9.222769,0.833002,NaN
24,ALK,46.74,N/A,NaN,NaN,-10.852563,0.202783,7.547176,0.542744,-11.460502,0.045726,NaN
25,ALL,109.87,N/A,NaN,NaN,-18.602751,0.095427,-5.382363,0.192843,1.020596,0.459245,NaN
26,ALLE,111.91,N/A,NaN,NaN,-7.412922,0.290258,3.986249,0.451292,-3.041063,0.248509,NaN
27,AMAT,145.66,N/A,NaN,NaN,23.765826,0.922465,25.840176,0.920477,3.761219,0.600398,NaN
28,AMCR,9.85,N/A,NaN,NaN,-17.435037,0.111332,-5.831737,0.17495,0.203463,0.417495,NaN
29,AMD,115.82,N/A,NaN,NaN,38.408221,0.978131,21.864477,0.888668,2.062034,0.50497,NaN
30,AME,156.57,N/A,NaN,NaN,6.445041,0.675944,7.964421,0.562624,-0.121196,0.407555,NaN
31,AMGN,243.28,N/A,NaN,NaN,-0.233753,0.512922,3.691077,0.435388,9.103957,0.827038,NaN
32,AMP,344.86,N/A,NaN,NaN,-1.757688,0.465209,17.423127,0.821074,4.935483,0.677932,NaN
33,AMT,184.77,N/A,NaN,NaN,-16.230676,0.119284,-4.368305,0.228628,-5.734396,0.133201,NaN
34,AMZN,139.57,N/A,NaN,NaN,36.592295,0.974155,31.881324,0.966203,8.733255,0.807157,NaN
35,ANET,179.60,N/A,NaN,NaN,38.484080,0.980119,30.078943,0.956262,13.027069,0.920477,NaN
36,ANSS,304.65,N/A,NaN,NaN,11.826892,0.805169,3.506271,0.429423,-5.208631,0.157058,NaN
37,AON,315.06,N/A,NaN,NaN,-0.840340,0.499006,-5.253662,0.198807,-6.546438,0.109344,NaN
38,AOS,72.64,N/A,NaN,NaN,7.630763,0.705765,3.313898,0.423459,2.889520,0.562624,NaN
39,APA,41.87,N/A,NaN,NaN,-0.356976,0.508946,26.571937,0.926441,24.427926,0.994036,NaN
40,APD,284.43,N/A,NaN,NaN,0.494645,0.524851,-3.772243,0.240557,-1.184687,0.332008,NaN
41,APH,87.30,N/A,NaN,NaN,6.723716,0.683897,15.859330,0.779324,4.301083,0.632207,NaN
42,APTV,106.80,N/A,NaN,NaN,-7.090034,0.300199,13.653295,0.727634,1.830669,0.491054,NaN
43,ARE,120.75,N/A,NaN,NaN,-27.807005,0.043738,-1.307723,0.308151,3.231597,0.578529,NaN
44,ATO,117.27,N/A,NaN,NaN,-0.314521,0.510934,-0.500597,0.324056,-0.229713,0.40159,NaN
45,ATVI,91.58,N/A,NaN,NaN,27.940765,0.950298,21.217734,0.882704,10.737612,0.878728,NaN
46,AVB,184.85,N/A,NaN,NaN,3.389459,0.588469,2.489469,0.395626,-3.929108,0.196819,NaN
47,AVGO,881.65,N/A,NaN,NaN,46.623988,0.992048,40.153567,0.988072,3.968163,0.616302,NaN
48,AVY,185.02,N/A,NaN,NaN,3.629445,0.59841,7.669930,0.548708,9.046977,0.82505,NaN
49,AWK,141.97,N/A,NaN,NaN,-9.232148,0.252485,-3.729572,0.242545,-0.315965,0.395626,NaN

## Calculating the Number of Shares to Buy

As we can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

In [30]:
# portfolio_size = float(input("Enter your portfolio value: "))
portfolio_size = 10000000
portfolio_size

10000000

In [31]:
position_size = portfolio_size / len(final_dataframe.index)
position_size

200000.0

In [32]:
for i in range(len(hqm_dataframe.index)):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe.loc[i, 'Stock Price'])

hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,126.30,1583,NaN,NaN,-17.038887,0.115308,-4.643257,0.212724,6.645278,0.751491,NaN
1,AAL,15.84,12626,NaN,NaN,-6.382978,0.318091,10.306410,0.638171,-11.409391,0.049702,NaN
2,AAP,71.01,2816,NaN,NaN,-53.181247,0.001988,-43.530813,0.001988,1.500862,0.481113,NaN
3,AAPL,181.99,1098,NaN,NaN,19.943327,0.892644,4.893375,0.473161,-5.119646,0.161034,NaN
4,ABBV,147.73,1353,NaN,NaN,1.868702,0.552684,0.189894,0.345924,7.635698,0.7833,NaN
5,ABC,185.33,1079,NaN,NaN,19.962454,0.89662,10.177751,0.634195,-3.569385,0.222664,NaN
6,ABT,107.65,1857,NaN,NaN,-2.799096,0.435388,-2.930568,0.266402,0.419780,0.435388,NaN
7,ACGL,76.72,2606,NaN,NaN,23.423426,0.918489,0.761757,0.361829,3.858127,0.604374,NaN
8,ACN,312.00,641,NaN,NaN,9.673787,0.761431,17.815872,0.831014,1.308569,0.471173,NaN
9,ADBE,526.88,379,NaN,NaN,40.415209,0.988072,53.136083,0.994036,9.472459,0.840954,NaN
10,ADI,188.35,1061,NaN,NaN,6.082795,0.667992,2.075657,0.38171,1.160107,0.461233,NaN
11,ADM,85.55,2337,NaN,NaN,3.621615,0.596421,13.461540,0.715706,11.046212,0.882704,NaN
12,ADP,245.76,813,NaN,NaN,9.974490,0.771372,14.696406,0.755467,10.877510,0.880716,NaN
13,ADSK,201.57,992,NaN,NaN,-7.680677,0.284294,4.989844,0.475149,0.258644,0.423459,NaN
14,AEE,81.40,2457,NaN,NaN,-5.238649,0.363817,-8.682968,0.115308,-2.257441,0.286282,NaN
15,AEP,81.24,2461,NaN,NaN,-12.172975,0.176938,-11.829826,0.069583,-4.793161,0.16501,NaN
16,AES,19.64,10183,NaN,NaN,-25.066768,0.055666,-9.534776,0.097416,-6.919436,0.101392,NaN
17,AFL,76.85,2602,NaN,NaN,10.448400,0.781312,13.616202,0.725646,10.353244,0.866799,NaN
18,AIG,60.69,3295,NaN,NaN,1.217478,0.538767,12.911625,0.701789,5.364584,0.697813,NaN
19,AIZ,141.78,1410,NaN,NaN,6.497404,0.67992,7.694649,0.552684,13.724233,0.924453,NaN
20,AJG,220.81,905,NaN,NaN,13.497812,0.833002,2.549689,0.397614,2.075624,0.506958,NaN
21,AKAM,92.63,2159,NaN,NaN,5.874957,0.662028,16.735979,0.799205,3.497204,0.590457,NaN
22,ALB,200.09,999,NaN,NaN,-27.715762,0.045726,7.644712,0.54672,-12.075410,0.029821,NaN
23,ALGN,361.44,553,NaN,NaN,5.542256,0.646123,18.090631,0.836978,9.222769,0.833002,NaN
24,ALK,46.74,4278,NaN,NaN,-10.852563,0.202783,7.547176,0.542744,-11.460502,0.045726,NaN
25,ALL,109.87,1820,NaN,NaN,-18.602751,0.095427,-5.382363,0.192843,1.020596,0.459245,NaN
26,ALLE,111.91,1787,NaN,NaN,-7.412922,0.290258,3.986249,0.451292,-3.041063,0.248509,NaN
27,AMAT,145.66,1373,NaN,NaN,23.765826,0.922465,25.840176,0.920477,3.761219,0.600398,NaN
28,AMCR,9.85,20304,NaN,NaN,-17.435037,0.111332,-5.831737,0.17495,0.203463,0.417495,NaN
29,AMD,115.82,1726,NaN,NaN,38.408221,0.978131,21.864477,0.888668,2.062034,0.50497,NaN
30,AME,156.57,1277,NaN,NaN,6.445041,0.675944,7.964421,0.562624,-0.121196,0.407555,NaN
31,AMGN,243.28,822,NaN,NaN,-0.233753,0.512922,3.691077,0.435388,9.103957,0.827038,NaN
32,AMP,344.86,579,NaN,NaN,-1.757688,0.465209,17.423127,0.821074,4.935483,0.677932,NaN
33,AMT,184.77,1082,NaN,NaN,-16.230676,0.119284,-4.368305,0.228628,-5.734396,0.133201,NaN
34,AMZN,139.57,1432,NaN,NaN,36.592295,0.974155,31.881324,0.966203,8.733255,0.807157,NaN
35,ANET,179.60,1113,NaN,NaN,38.484080,0.980119,30.078943,0.956262,13.027069,0.920477,NaN
36,ANSS,304.65,656,NaN,NaN,11.826892,0.805169,3.506271,0.429423,-5.208631,0.157058,NaN
37,AON,315.06,634,NaN,NaN,-0.840340,0.499006,-5.253662,0.198807,-6.546438,0.109344,NaN
38,AOS,72.64,2753,NaN,NaN,7.630763,0.705765,3.313898,0.423459,2.889520,0.562624,NaN
39,APA,41.87,4776,NaN,NaN,-0.356976,0.508946,26.571937,0.926441,24.427926,0.994036,NaN
40,APD,284.43,703,NaN,NaN,0.494645,0.524851,-3.772243,0.240557,-1.184687,0.332008,NaN
41,APH,87.30,2290,NaN,NaN,6.723716,0.683897,15.859330,0.779324,4.301083,0.632207,NaN
42,APTV,106.80,1872,NaN,NaN,-7.090034,0.300199,13.653295,0.727634,1.830669,0.491054,NaN
43,ARE,120.75,1656,NaN,NaN,-27.807005,0.043738,-1.307723,0.308151,3.231597,0.578529,NaN
44,ATO,117.27,1705,NaN,NaN,-0.314521,0.510934,-0.500597,0.324056,-0.229713,0.40159,NaN
45,ATVI,91.58,2183,NaN,NaN,27.940765,0.950298,21.217734,0.882704,10.737612,0.878728,NaN
46,AVB,184.85,1081,NaN,NaN,3.389459,0.588469,2.489469,0.395626,-3.929108,0.196819,NaN
47,AVGO,881.65,226,NaN,NaN,46.623988,0.992048,40.153567,0.988072,3.968163,0.616302,NaN
48,AVY,185.02,1080,NaN,NaN,3.629445,0.59841,7.669930,0.548708,9.046977,0.82505,NaN
49,AWK,141.97,1408,NaN,NaN,-9.232148,0.252485,-3.729572,0.242545,-0.315965,0.395626,NaN

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

### Initializing our XlsxWriter Object

In [33]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index=False)

## Formatting Our Excel Output

In [34]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_template = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_template = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

percent_template = writer.book.add_format(
    {
        'num_format': '0.0%',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [35]:
column_formats = {
    'A': ['Ticker', string_template],
    'B': ['Price', dollar_template],
    'C': ['Number of Shares to Buy', integer_template],
    'D': ['One-Year Price Return', percent_template],
    'E': ['One-Year Return Percentile', percent_template],
    'F': ['Six-Month Price Return', percent_template],
    'G': ['Six-Month Return Percentile', percent_template],
    'H': ['Three-Month Price Return', percent_template],
    'I': ['Three-Month Return Percentile', percent_template],
    'J': ['One-Month Price Return', percent_template],
    'K': ['One-Month Return Percentile', percent_template],
    'L': ['HQM Score', integer_template]
}

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

In [36]:
writer.close()